.vscode
__pycache__/
test_*/
.prefect_key
dask-worker-space

mlruns/
equitable-ai/

data/boundaries
data/ecopia_data
data/kc_surveys
data/dhs/*
!data/dhs/README.md
data/osm/*
!data/osm/README.md

data/outputs/*/dhs*
data/outputs/*/final_data.csv
data/outputs/*/results/*.html
