.vscode
__pycache__/
test_*/
.prefect_key
dask-worker-space

mlruns/

data/boundaries
data/ecopia_data
data/kc_surveys
data/dhs/*
!data/dhs/README.md
data/osm/*
!data/osm/README.md

data/outputs/*/dhs*
data/outputs/*/final_data.csv
data/outputs/*/results/*.html

equitable-ai/eqai_old
equitable-ai/iwi_comparison/ghana_2014_iwi.csv
equitable-ai/dhs_wi_misc/*.zip
equitable-ai/GH_2014_DHS
